GENLAYER_PRIVATE_KEY=0xTODO
GENLAYER_KEYSTORE_PASSWORD=TODO_LOCAL_KEYSTORE_PASSWORD
GENLAYER_ACCOUNT_NAME=recuse-deployer

GENLAYER_RPC=https://rpc-bradbury.genlayer.com
ORACLE_ADDRESS=TODO_REDEPLOYED_CONTRACT_ADDRESS
KEEPER_PRIVATE_KEY=0xTODO

VITE_GENLAYER_RPC=https://rpc-bradbury.genlayer.com
VITE_ORACLE_ADDRESS=TODO_REDEPLOYED_CONTRACT_ADDRESS
